{% if section.settings.overlay == "black" %}
{% assign bg_hex = "#000000" %}
{% elsif section.settings.overlay == "background1" %}
{% assign bg_hex = "{{ background1_color }}" %}
{% elsif section.settings.overlay == "background2" %}
{% assign bg_hex = "{{ background2_color }}" %}
{% elsif section.settings.overlay == "background3" %}
{% assign bg_hex = "{{ background3_color }}" %}
{% elsif section.settings.overlay == "accent1" %}
{% assign bg_hex = "{{ accent1_color }}" %}
{% elsif section.settings.overlay == "accent2" %}
{% assign bg_hex = "{{ accent2_color }}" %}
{% endif %}

{% if section.settings.opacity == "0" %}
{% assign bg_opacity = "00" %}
{% elsif section.settings.opacity == "10" %}
{% assign bg_opacity = "1A" %}
{% elsif section.settings.opacity == "20" %}
{% assign bg_opacity = "33" %}
{% elsif section.settings.opacity == "30" %}
{% assign bg_opacity = "4D" %}
{% elsif section.settings.opacity == "40" %}
{% assign bg_opacity = "66" %}
{% elsif section.settings.opacity == "50" %}
{% assign bg_opacity = "80" %}
{% elsif section.settings.opacity == "60" %}
{% assign bg_opacity = "99" %}
{% elsif section.settings.opacity == "70" %}
{% assign bg_opacity = "B3" %}
{% elsif section.settings.opacity == "80" %}
{% assign bg_opacity = "CC" %}
{% elsif section.settings.opacity == "90" %}
{% assign bg_opacity = "E6" %}
{% elsif section.settings.opacity == "100" %}
{% assign bg_opacity = "FF" %}
{% endif %}

<div class="blockquote-with-author container-fluid section-{{ section.id }}{% if section.settings.background_image != blank %} bg-image{%else%} bg-color{% endif %} my-{{ section.settings.margin }} gx-0">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-{{ section.settings.container_size }} text-{{ section.settings.alignment }} text-{{ section.settings.text_color }}">
                {% if section.settings.quote != blank %}
                <div class="blockquote-with-author_quote{% if section.settings.author != blank %} mb-2{% endif %}"><em>{{ section.settings.quote }}</em></div>
                {% endif %}
                {% if section.settings.author != blank %}
                <div class="blockquote-with-author_author text-heading">&#8212; {{ section.settings.author }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% styles %}
.section-{{ section.id }}  {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }}.bg-color {
        background: {{ bg_hex }}{{ bg_opacity }};
}

.section-{{ section.id }}.bg-image {
        background: linear-gradient({{ bg_hex }}{{ bg_opacity }}, {{ bg_hex }}{{ bg_opacity }}), url({{ section.settings.background_image | image_url:'1600x1600' }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
}

.section-{{ section.id }} .blockquote-with-author_author {
    font-family: {{ type_header_font }};
}

@media screen and (max-width: 576px) {
    .section-{{ section.id }} {
        padding: 3rem 1.5rem;
    }
}

{% endstyles %}

{% schema %}
{
    "name": "Blockquote with Author",
    "description": "Blockquote and author section with a customizable background.",
    "settings": [
            {
            "type": "select",
            "id": "margin",
            "label": "Section Margin",
            "default": "5",
            "options": [
            {
                "label": "Large",
                "value": "5"
            },
            {
                "label": "Medium",
                "value": "3"
            },
            {
                "label": "Small",
                "value": "1"
            },
            {
                "label": "None",
                "value": "0"
            }]
            },
        {
            "type": "select",
            "id": "padding",
            "label": "Padding",
            "default": "120px",
            "options": [
            {
                "label": "None",
                "value": "0"
            },
            {
                "label": "Small",
                "value": "40px"
            },
            {
                "label": "Medium",
                "value": "80px"
            },
            {
                "label": "Large",
                "value": "120px"
            }]
        },
        {
            "type": "select",
            "id": "container_size",
            "label": "Content Width",
            "default": "6",
            "options": [
            {
                "label": "Small",
                "value": "6"
            },
            {
                "label": "Medium",
                "value": "8"
            },
            {
                "label": "Large",
                "value": "12"
            }]
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
        },
        {
            "type": "select",
            "id": "overlay",
            "label": "Background Color",
            "default": "background3",
            "options": [
                {
                    "label": "Black",
                    "value": "black"
                },
                {
                    "label": "Background 1",
                    "value": "background1"
                },
                {
                    "label": "Background 2",
                    "value": "background2"
                },
                {
                    "label": "Background 3",
                    "value": "background3"
                },
                {
                    "label": "Accent 1",
                    "value": "accent1"
                },
                {
                    "label": "Accent 2",
                    "value": "accent2"
                }
            ]
        },
        {
                "type": "range",
                "id": "opacity",
                "label": "BG Color Opacity",
                "default": 100,
                "min": 0,
                "max": 100,
                "step": 10
        },
        {
            "type": "select",
            "id": "alignment",
            "label": "Text Alignment",
            "default": "center",
            "options": [
            {
                "label": "Left",
                "value": "start"
            },
            {
                "label": "Center",
                "value": "center"
            },
            {
                "label": "Right",
                "value": "end"
            }]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Text Color",
            "default": "default",
            "options": [
                {
                    "label": "Default",
                    "value": "default"
                },
                {
                    "label": "Inverse",
                    "value": "inverse"
                }
            ]
        },
        {
            "type": "richtext",
            "id": "quote",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
            "label": "Quote text"
        },
        {
            "type": "text",
            "id": "author",
            "default": "Lorem ipsum",
            "label": "Author"
        }
    ]
}
{% endschema %}